.Item {
  width: 600px;
  height: 200px;
  transition: transform 0.2s; /* Animation */
  box-shadow: 0 2px 3px #cccccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CardContainer img {
  height: 175px;
}

.header {
  text-align: start;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 5px 10px;
}

.StatsContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.StatsContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 600px) {
  .Item {
    width: 100%;
    height: 200px;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px #cccccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  .header {
    font-size: 20px;
  }

  .CardContainer img {
    height: 100px;
  }
}

.Item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
