.Container {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa;  
  font-family: Roboto,Helvetica,sans-serif;
}
.Layout {
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  background-color: #ffffff;

}

.FooterCol a:hover {
  color: yellowgreen;
  text-decoration: none;
}
.FooterCol a {
  text-decoration: none;
  color: var(--colors-primary);
}

.FooterCol {
  display: flex;
  flex: 1;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-end;
  color: var(--colors-primary);
  font-size: 14px;
}

.FooterCol div {
  margin: 5px 0;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 30px 0 30px;
}

.Name {
  flex: 2;
  text-align: left;
  padding: 5px 20px;
}

.Layout h2 {
  color: var(--colors-primary);
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.Layout h4 {
  color: #aaaaaa;
  font-weight: 500;
  margin: 5px auto;
  font-size: 18px;
  text-transform: capitalize;
}

.Body {
  padding: 0 50px 10px 50px;
  text-align: left;
}

.Timeline {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}

.Skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 10px;
}

.Spacer {
  height: 10px;
}
